*,
*::before,
*::after {
    padding: 0;
    margin:0;
    border:0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;    
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #252b42;  
    background:#fafafa; 
    font-family: Montserrat; 
    font-weight: 500;
}

.wrapper {
    min-height: 100%;
    overflow: hidden; 
    display: flex;  
    flex-direction: column;
}

._container{
    max-width: 1046px;
    margin: 0px auto;
    padding: 0 15px;
    box-sizing:content-box;
}
._ibg{
    position: relative;
    & img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
/*--------------------------------------------------------HEADER-BLOCK-----------------------------------------------------------------------------------------------------------------------*/
.header-block {
    text-align: center;
    letter-spacing: 0.2px;
    &__title {
        font-size: 40px;
        font-weight: 700;
        line-height: 142%;
    }
    &__title:not(:last-child){
        margin:0px 0px 10px 0px;
    }

    &__sub-title {
        color:#737373;
        line-height: 142%;
    }
    @media (max-width:992px) {
        &__title {
            font-size: 35px;
        }
    }
    @media (max-width:767px) {
        &__title {
            font-size: 30px;
        }
    }
}
/*--------------------------------------------------------HEADER-----------------------------------------------------------------------------------------------------------------------*/
.header {

    position: absolute;
    width: 100%;
    left:0;
    top:0;
    z-index: 50;


    &__container {
        display: flex;
        min-height: 104px;
        align-items: center;
        
    }
    @media (max-width: 922px){
        .header{
            &__container{
                min-height: 70px;
            }
        }
    }

    &__logo {
        font-size: 24px;
        font-weight: 700;
        color: inherit;
        
    }

    &__menu {
        margin: 0px 0px 0px 133px;
        padding: 5px 0;
    }
}
@media (max-width: 922px){
    .header{
        &__menu{
            margin: 0px 0px 0px 80px;
        }
    }
}
@media (max-width: 767px){
    .header{
        &__menu{
            margin: 0px 0px 0px 40px;
        }
    }
}
@media (max-width: 479px){
    .header{
        &__menu{
            margin: 0px 0px 0px 20px;
        }
    }
}
/*--------------------------------------------------------MENU-----------------------------------------------------------------------------------------------------------------------*/
.menu {

    &__list {
        flex-wrap: wrap;
        display: flex;
    }

    &__item{
        
    }

    &__item:not(:last-child) {
        margin: 0px 21px 0px 0px;
    }

    &__link {
        color:#737373;
        line-height: calc(24 / 14 * 100%);
        font-weight: 600;
    }
}
@media (max-width: 479px){
    .menu{
        &__link{
            font-size: 18px;
        }
    }
}
/*--------------------------------------------------------PAGE-----------------------------------------------------------------------------------------------------------------------*/
.page {
    flex: 1 1 auto;
    &__main-block {
    }

    &__services {
        margin: -111px 0px 0px 0px;
        position: relative;
        z-index: 2;
    }
    &__advantages {
    }
    &__advices {
    }
    &__about {
    }
    &__clients:not(:last-child) {
        margin: 0px 0px 10px 0px;
    }
    &__subscribe {

    }
    &__getintouch {
    }
    &__footer {
    }
}
/*--------------------------------------------------------MAIN BLOCK-----------------------------------------------------------------------------------------------------------------------*/
.main-block {
    position: relative;
    &__container {
    }

    &__body {
        padding: 185px 0px 191px 0px;
        position: relative;
        z-index:2;
        max-width: 400px;
    }
    &__body > *:not(:last-child) {
        margin: 0px 0px 35px 0px;
    }
    @media(max-width:992px){
        &__body{
            padding: 120px 0px 191px 0px;
        }   
    }
    @media(max-width:479px){
        &__body{
            padding: 115px 0px 160px 0px;
        }   
    }

    &__title {
        font-size: 58px;
        line-height: calc(80 / 58 * 100%);
        font-weight: 800;
        letter-spacing: 0.2px;
    }
    @media(max-width:479px){
        &__title{
            font-size: 42px;
        }   
    }

    &__text {
        color: #737373;
        font-size: 20px;
        line-height: calc(30 / 20 * 100%);
    }
    @media (max-width:479px){
        &__text{
            color: #585757;
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        margin: -10px 0;
    }

    &__button {
        
        border-radius: 37px;
        display: flex;
        min-height: 48px;
        justify-content: center;
        align-items: center;       
        letter-spacing: 0.2px;
        font-weight: 700;
        text-align: center;
        line-height: 150%;
        padding: 5px 36px;
        margin: 10px 0;
        transition: all 0.3s ease 0s;
        &_orange{
            background: #ff7b47;
            color: #fff;
        }
        &_orange:hover{
            color: rgb(0, 0, 0);
        }

        &_border {
            color: #0d5c63;
            border: 1px solid #0d5c63; 
        }
        &_border:hover {
            border: 1px solid #ff7b47;
            background: #ff7b47;
            color: #ffffff;
        }
    }
    @media (max-width:479px){
        &__button{
            flex: 1 1 100% ;
        }
    }
    @media(min-width:479px){
        &__button:not(:last-child){
            margin-right: 10px;
        }
    }
    &__image{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    @media(max-width:1300px){
         &__image img{
             object-position: right;
         }   
    }
    @media(max-width:992px){
        &__image{
            opacity: 0.5;
        }   
    }
}
/*--------------------------------------------------------SERVICES-----------------------------------------------------------------------------------------------------------------------*/
.services {
    &__container {
    }

    @media(min-width:670px){
        &__body{
            display: flex;
            flex-wrap: wrap;
            margin: 0px -15px;
        }
    }

    &__column {
        flex: 0 1 33.333%;
    }

    @media(min-width:670px){
        &__column{
            padding: 0px 15px;
        }
        
    }
    @media(max-width:992px){
        &__column{
            flex:0 1 50%;
        }
        &__column:last-child {
            flex: 1 1 100%;
        }
        &__column:not(:last-child){
            margin: 0px 0px 30px 0px;
        }
    }

    &__item {
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        background-color: #fff;
        padding:35px;
        height: 100%;
        
    }
    @media(max-width:479px){
        &__item{
            padding:25px;
        }
    }

}
.item-service {

    &__icon {
    }

    &__title {
        font-weight: 700;
        letter-spacing: 0.1px;
        font-size: 24px;
        line-height: 133%;
    }

    &__text {
        color:#737373;
        line-height: 142%;
    }
    &_green {
        background-color: #0d5c63;
        
    }
    &_green .item-service__title{
        color:#fff;
    }
    &_green .item-service__text{
        color:#fff;
    }
}
.item-service > *:not(:last-child){
    margin: 0px 0px 10px 0px;
}

/*--------------------------------------------------------ADVANTAGES-----------------------------------------------------------------------------------------------------------------------*/
.advantages {
    padding: 80px 0;
    &__container {
    }
    &__header {
        margin: 0px 0px 50px 0px;
    }
    @media(max-width:767px){
        &__header{
            margin: 20px 0px 40px 0px;
        }
    }

    &__body {
        display: flex;
        margin: 0px -15px -30px;
        flex-wrap: wrap;
    }

    &__column {
        padding: 0px 15px;
        flex: 0 1 25%;
        margin: 0px 0px 30px 0px;
    }

    @media(max-width:1200px)
    {
        &__column {
            flex: 0 1 50%;
        }
    }

    @media(max-width:600px)
    {
        &__column {
            flex: 0 1 100%;
            margin: 0px 0px 30px 0px;
        }
    }

    &__item {
        background-color:#fff;
        padding: 30px;
        text-align:center;
        font-weight:700;
    }
    &__item> *:not(:last-child){
        margin:0px 0px 10px 0px;
    }

    &__icon {
        height: 48px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    &__value {
        font-size: 40px;
        line-height: 142%;
        letter-spacing: 0.2px;
    }

    &__text {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.1px;
        color:#737373;
    }
}
@media(max-width:992px){
    .advantages {
        padding: 50px 0;
    }
}
@media(max-width:767px){
    .advantages {
        padding: 30px 0;
    }
}
/*--------------------------------------------------------ADVICES-----------------------------------------------------------------------------------------------------------------------*/
.advices {
    padding: 80px 0px 80px 0px;
    
    &__container {
    }

    &__header {
        margin:0px 0px 45px 0px;
    }
    @media (max-width: 767px){
        &__header { 
            margin:0px 0px 25px 0px;
        }
    }

    &__body {
        display: flex;
        margin: 0px -20px -30px;
        flex-wrap: wrap;
    }

    &__column {
        padding: 0px 20px;
        flex: 0 1 25%;
        margin: 0px 0px 30px 0px;
    }

    &__item {
        background-color:#fff;
        display: flex;
        height: 100%;
        flex-direction: column;
    }

    &__item-content{
        text-align: start;
        padding: 30px;
        flex: 1 1 auto;
    }
    

    &__item-header {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.1px;
        color:#252B42;
    }

    &__item-text {
        font-weight: 500;
        line-height: 143%;
        font-size: 14px;
        letter-spacing: 0.2px;
        color: #737373;

    }
    &__item-img{
        display: block;
        padding: 0px 0px 60% 0px;
    }
    &__item-link{
        display:inline-block;
        margin: 0px 0px 15px 0px;
    }
    &__item-link:hover{
        text-decoration: underline;
    }

    @media (max-width: 1040px){
        &__column { 
            flex: 0 1 50%;
        }
    }
    @media (max-width: 630px){
        &__column { 
            flex: 0 1 100%;
        }
    }

}
@media (max-width: 993px){
    .advices { 
        padding: 60px 0px 80px 0px;
    }
}
@media (max-width: 767px){
    .advices { 
        padding: 40px 0px 40px 0px;
    }
}

/*--------------------------------------------------------ABOUT-----------------------------------------------------------------------------------------------------------------------*/
.about {
    padding: 80px 0px 130px 0px;
    background:#FFFFFF;
    &__container {
        
    }


    &__header {
        margin: 0px 0px 100px 0px;
    }

    &__body {
        display: flex;
        flex-direction: row;
        align-items:flex-start;
    }

    &__video {
        flex: 0 0 57%;
        position: relative;
        padding: 0px 0px 42.25% 0px;
        
    }
    &__video iframe{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit:cover;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 auto;
        padding: 0px 0px 0px 121px;
    }


    &__title {
        text-align: start;
        padding: 20px 0px 50px 0px; 
    }


    &__text {

    }

    &__items {
        
    }

    &__item:last-child{
        padding: 30px 0px 0px 0px;
    }
    @media(max-width:1080px){
        &__content{
            padding: 0px 0px 0px 50px;
        }
    }
}
@media(max-width:950px){
    .about{
        padding: 50px 0px 50px 0px;
        &__body{
            flex-direction: column-reverse;
            align-items:stretch;
        }
        &__header { 
            margin: 0px 0px 30px 0px;
        }
        &__content{
            padding: 0px 0px 0px 0px;
        }
        &__video:not(:last-child){
            margin: 50px 0px 0px 0px;
        }
        &__video{
            padding: 0px 0px 56.25% 0px;
        }

    }
}


.item-about {
    display: flex;
    &__icon {
        flex: 0 0 32px;
    }

    &__body {
        flex: 1 1 auto;
        margin:0px 0px 0px 20px;
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.1px;
        color: #252B42;
    }

    &__subtitle {
        font-weight: 600;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.2px;
        color: #737373;
        margin: 5px 0px 0px 0px;
        white-space: nowrap;
        width: 225px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/*--------------------------------------------------------CLIENTS-----------------------------------------------------------------------------------------------------------------------*/

.clients {
    padding: 50px 0;
@media(max-width:767px){
    padding: 30px 0;
}
    &__container {
    }

    &__items {
        display: flex;
        align-items:center;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__items img{
        max-width: 100%;
    }

    &__item {
        padding: 8px 0px;
        flex: 0 1 16.6667%;
        text-align: center;
        min-width:140px;
    }
}
/*--------------------------------------------------------SUBSCRIBE-----------------------------------------------------------------------------------------------------------------------*/
.subscribe {
    position: relative;
    padding: 0px 0px 20px 0px;

    &__container {
    }

    &__body {
        position: relative;
        z-index: 2;
        padding:30px 50px;
        align-items: center;
        background-color:#17213C;
        border-radius:2px;
    }

    @media(min-width: 1070px){
        &__body{
            margin:0px 30px;
        }
    }


    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 133%;
        letter-spacing: 0.1px;
        color:#FFFFFF;
    }
    @media(max-width: 810px){
        &__title{
            margin: 0px 0px 20px 0px;
        }
        &__body{
            margin: 0px -15px;
            padding: 20px 15px;
        }
    }
    @media(min-width: 810px){
        &__body{
            display: flex;
            justify-content: space-between;
        }
        &__title{
            max-width:266px;
        }

    }

    &__form {
        flex: 0 1 50%;
        display: flex;
        align-items:center;
    }

    &__input {
        flex: 1 1 auto;
        min-height: 58px;
        padding: 20px;
        background:#F9F9F9;
        color:#737373;
        border: 1px solid #e6e6e6;
        box-sizing:border-box;
        border-radius: 5px 0 0 5px;
        border-right:0;
        width: 100%;
    }
    &__input:focus {
        color:#000;
    }


    &__button {
        background: #FF7B47;
        border: 1px solid #E6E6E6;
        border-radius: 0px 5px 5px 0px;
        display: flex;
        min-height: 58px;
        justify-content: center;
        align-items:center;
        text-align: center;
        color:#fff;
        padding: 0px 22px;
        font-weight: 400;
        font-size: 14px;
        line-height: 200%;
        letter-spacing: 0.2px;
        transition: all 0.3s ease 0s;
    }
    &__button:hover {
        color:#252b42;
    }
    @media(max-width: 810px){
        &__button {
            padding: 0px 15px;
        }
    }
}
.subscribe::before {
    content:"";
    position: absolute;
    bottom:0;
    width: 100%;
    height: 77px;
    left:0;
    background: #252b42;
}
/*--------------------------------------------------------GETINTOUCH-----------------------------------------------------------------------------------------------------------------------*/
.getintouch {

    padding : 80px 0px 135px 0px;
    &__container {
    }

    &__header {
        margin:0px 0px 80px 0px;
    }
    &__items {
    margin: 0px -15px;
    }

    @media (min-width:992px) {
        &__items {
            display: flex;
            align-items:center;
            max-height: 393px;
            margin:0;
        }
    }

    @media (max-width:992px) {
        padding : 50px 0px;
        &__header {
            margin:30px 0px 50px 0px;
        }

    }

    @media (max-width:767px) {
        padding : 30px 0px ;
        
    .item-getintouch_active{
        padding: 50px 15px ;
    }
        &__header {
            margin:20px 0px 30px 0px;
        }
    }

    &__item {
        flex: 0 1 33.333%;
    }
}
.item-getintouch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color:#FFF;
    padding: 50px 15px;
    max-height: 333px;
    &__icon {
    }

    &__emails {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    &__email {
        color:inherit;
        font-weight: 600;
        line-height: 150%;
        font-size: 16px;

    }
    &__email:hover {
        text-decoration: underline;
    }

    &__label {
        font-size: 16px;
        line-height: 150%;
        font-weight: 700;
    }

    &__button {
        border:1px solid #FF7B47;
        max-height: 44px;
        display: flex;
        justify-content: center;
        align-items:center;
        text-align: center;
        border-radius: 5px;
        line-height: 142;
        padding: 5px 20px ;
        font-weight: 600;
        transition: all 0.3s ease 0s;
        color:inherit;
    }
    &__button:hover {
        background-color:#FF7B47;
        color: #fff;
    }

    &_active {
        background: #252b42;
        color:#fff;
        padding: 80px 15px ;
        max-height: 393px;

        .item-getintouch__button{
            border: 1px solid #fff;
            color:#fff;
        }

    }
}

@media (max-width:767px) {
    .item-getintouch_active{
        padding: 50px 15px;
    }
}
.item-getintouch > *:not(:last-child) {
    margin:0px 0px 15px 0px;
}



/*--------------------------------------------------------FOOTER-----------------------------------------------------------------------------------------------------------------------*/

.footer {

    &__container {
        
    }

    &__contactus {
        background-color:#ffffff;
        padding: 0px 195px;
    }

    &__navigation {
        background-color:#17213C;
        padding:0px 195px;
    }
    
}
.contactus {
    
    &__content {
        padding: 40px 0px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    &__left {
        display:flex;
        flex-direction: column;
    }

    &__title {
        padding: 0px 0px 10px 0px;
        font-weight: 700;
        font-size:24px;
        line-height: 133.3333%;
        letter-spacing: 0.1px;
    }

    &__subtitle {
        font-size: 14px;
        line-height: 143%;
        font-weight: 500;
        letter-spacing: 0.2px;
        color:#737373;
    }

    &__right {
    }

    &__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px 40px;
        background: #FF7B47;
        border-radius: 5px;
        color:#FFF;
        max-height: 58px;
        max-width:212px;
        height: 100%;
        font-weight: 700;
        font-size: 14px;
        line-height: 200%;
        letter-spacing: 0.2px;
        transition: all 0.3s ease 0s;
    }    
    &__button:hover {
        color:#17213C;
    }
}
.navigation {
    &__body {
        display:flex;
        flex-direction: row;
        padding: 50px 0px;
        color:#FFFFFF;
        justify-content: space-between;
    }

}

@media (max-width:1025px) {
    .footer{
        &__navigation
        {
            padding: 0px 80px;
        }
        &__contactus {
            padding: 0px 80px;
        }    
    }
}
@media (max-width:701px) {
    .footer{
        &__navigation
        {
            padding: 0px 40px;
        }
        &__contactus {
            padding: 0px 40px;
        }    
    }
}

@media (max-width:670px) {
    .footer{
        &__navigation
        {
            padding: 0px 40px;
        }
        &__contactus {
            padding: 0px 40px;
        }    
    }
    .contactus {
    
        &__content {
            flex-direction: column;
            justify-content: center;
            align-items:center;
        }
        &__subtitle{
            padding: 0px 0px 20px 0px;
            align-self: center;
        }
        &__button {
            max-width:280px;
            width:100%;
            
        }
        &__content> * {
            flex:1 1 100%;
        }

    }
    .navigation {
        &__body {
            flex-direction: row;
            padding: 10px 0px;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__body > * {
            flex: 1 1 50%;
            padding: 20px 0px 10px 0px;
        }

        &__body .item__title{
            padding:0px 0px 10px 0px;
            margin:0px 0px 0px 0px;
        }
        &__body .item__body{
            margin:0px 0px 0px 0px;
        }
        
    }

}

@media (max-width:477px) {
    .footer{
        &__navigation
        {
            padding: 0px 20px;
        }
        &__contactus {
            padding: 0px 20px;
        }    
    }
    .contactus {
    
        &__content {
            flex-direction: column;
            justify-content: center;
            align-items:center;
        }
        &__subtitle{
            padding: 0px 0px 10px 0px;
        }
        &__button {
            max-width:280px;
            width:100%;
        }
        &__content> * {
            flex:1 1 100%;
        }

    }
    .navigation {
        &__body {
            flex-direction: column;
            padding: 10px 0px;
        }
        &__body > * {
            flex: 1 1 100%;
            padding: 20px 0px 10px 0px;
        }
        &__body >:first-child {
            padding: 0px 0px 10px 0px;
        }
        &__body .item__title{
            padding:0px 0px 10px 0px;
            margin:0px 0px 0px 0px;
        }
        &__body .item__body{
            margin:0px 0px 0px 0px;
        }

    }
    

}

.item {
    
    &__company-info {
    }

    &__title {
        padding:0px 0px 20px 0px;
        margin:0px 30px 0px 0px;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.1px;
    }

    &__body {
        display:flex;
        flex-direction: column;
        margin:0px 30px 0px 0px;
        font-size: 14px;
        line-height: 170%;
        letter-spacing: 0.2px;
    }
    &__body>*:not(:last-child) {
        padding:0px 0px 10px 0px;
    }
    &__link{
        color:#fff;
    }
    &__link:hover{
        text-decoration: underline;
    }
    &__legal {
    }

    &__features {
    }

    &__resources {
    }

    &__getintouch{
    }
    &__getintouch img{
        margin:0px 10px 0px 0px;
    }
}


